


/* Registration form styles */

.registration-form {
    background-color: #fff;
    padding: 30px;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: auto;
  }

  .registration-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .registration-form .form-group {
    margin-bottom: 20px;
  }
  
  .registration-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .registration-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 2px;
  }
  
  .registration-form button:hover {
    background-color: #555;
  }
  
  .registration-page-cont {
    /* margin-top:10px; */
    height: 100vh;
    border: 1px solid rgb(165, 0, 129);
    background: rgb(165, 0, 129);
    padding-top: 15px;
    /* margin-bottom: 40px; */
    overflow: auto;
    padding-bottom: 20px;
    
  }
  
  #error {
    background-color: rgba(255, 27, 27, 0.4);
    margin: 3px 5px;
    border-radius: 5px;
    text-align: center;
  }

  #login-redir{
    width: 30%;
  }
  